<main class="main">

   
    <!-- Landing -->
    <section class="landing">
      <div class="landing-text">
        <h1>Explore London!</h1>
        <p>
            One of the world's most visited cities, London has something for everyone: from history and culture to fine food and good times.
        </p>
       
      </div>
      <div style= " border: 10px solid #555; margin-right:28%; height:305px; width:400px;"class="landing-image">
        <!-- <img style="width:550px; height:350px; margin-right:150px;" src="./../../assets/london2.jpg" alt="Working Illustration"  /> -->
        <div id="media-viewer">
            <img title="london_02.gif" src="https://cdn.dribbble.com/users/332742/screenshots/2013718/media/c3776e340aa7727ae3d7bdabb185497d.gif" alt="C3776e340aa7727ae3d7bdabb185497d">
        </div>
       
        
      </div>
    </section>
    
    
  </main>

