<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{this.weatherData?.location?.name}},
    {{this.weatherData?.location.country}}</h1>

    <ul class="cards">
<!-- 
      -----cards1--- -->
      <li class="cards_item">
        <div class="card">
          <div class="icon sun-shower">
            <div class="cloud"></div>
            <div class="sun">
              <div class="rays"></div>
            </div>
            <div class="rain"></div>
          </div>
          <div class="card_content">
            <h2 class="card_title">Current Pressure </h2>
            <p class="card_text">{{this.weatherData?.current.pressure_mb}}</p>
           
          </div>
        </div>
      </li>
  <!-- ------card2----- -->
  <li class="cards_item">
    <div class="card">
      <div class="icon thunder-storm">
        <div class="cloud"></div>
        <div class="lightning">
          <div class="bolt"></div>
          <div class="bolt"></div>
        </div>
      </div>
      <div class="card_content">
        <h2 class="card_title">Current Humidity</h2>
        <p class="card_text">{{this.weatherData?.current.humidity}}</p>
    
      </div>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <div class="icon rainy">
        <div class="cloud"></div>
        <div class="rain"></div>
      </div>
      
      <div class="card_content">
        <h2 class="card_title">Current Weather</h2>
        <p class="card_text">{{this.weatherData?.current.condition.text}}</p>
        
      </div>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <div class="icon cloudy">
        <div class="cloud"></div>
        <div class="cloud"></div>
      </div>
      <div class="card_content">
        <h2 class="card_title">Temperature</h2>
        <p class="card_text" >{{this.weatherData?.current.temp_c}}</p>
        
      </div>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <div class="icon sunny">
        <div class="sun">
          <div class="rays"></div>
        </div>
      </div>
      
      <div class="card_content">
        <h2 class="card_title">Feels like </h2>
        <p class="card_text">{{this.weatherData?.current.feelslike_c}}</p>
        
      </div>
    </div>
  </li>

  <li class="cards_item">
    <div class="card">
      <div class="icon flurries">
        <div class="cloud"></div>
        <div class="snow">
          <div class="flake"></div>
          <div class="flake"></div>
        </div>
      </div>
      
      <div class="card_content">
        <h2 class="card_title">Wind Direction</h2>
        <p class="card_text">{{this.weatherData?.current.wind_kph}}</p>
        
      </div>
    </div>
  </li>
    </ul>
</body>
</html>