<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | Four card feature section</title>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="header">
    <h1>London</h1>
   

  </div>
  <div class="row1-container">
    <div class="box box-down cyan">
      Location Searched: {{this.weatherData?.location.name}},
      {{this.weatherData?.location.country}}
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      Current weather conditions: {{this.weatherData?.current.condition.text}}
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      Temperature in Degrees Celsius: {{this.weatherData?.current.temp_c}}
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      
      Feels like in Degrees Celsius: {{this.weatherData?.current.feelslike_c}}
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
  
</body>

</html>